* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;

}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    /* cinza claro */
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinha itens à direita */
}

.login-container {
    background-color: #ccc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    /* Adicionado para limitar a largura do contêiner */
    width: 100%;
    /* Garante que o contêiner se ajuste à largura máxima */
}

.login-container h2 {
    color: #333;
    /* preto */
    margin-bottom: 20px;
    /* Adicionado espaço abaixo do título */
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* Adicionado espaçamento vertical entre elementos do formulário */
}

label {
    color: #333;
    /* cor preta */
    font-size: 16px;
    /* tamanho da fonte */
    font-weight: bold;
    /* negrito */
    margin-bottom: 8px;
    /* espaço abaixo do label */
}

input {
    padding: 10px;
    border: 1px solid #fff;
    /* cinza claro */
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #007bff;
    /* azul */
    color: #fff;
    /* branco */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* Adicionado efeito de transição */
}

button:hover {
    background-color: #28a745;
    /* azul mais escuro no hover */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Adicionado para centralizar verticalmente */
    height: 100vh; /* Adicionado para ocupar 100% da altura da tela */
}

.login-container {
    background-color: #ccc;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}
